/*
* @Author: Vinson
* @Email: binary_space@126.com
* @QQ: 1035862795
* @Wechat: 1035862795
* @Date: 2025-01-25 17:00:06
* @Last Modified by: vinson
* @Last Modified time: 2025-01-25 19:36:59
*/
@import "zkFramework/style/theme/zk.theme.variables.less";

.zk_forget_password_div {
	margin: 0 auto;
    overflow: hidden;
    /* margin: 28px auto auto auto; */
    padding: 32px;

}

.zk_forget_password_title {
	padding: 0px 7px 22px 0px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.zk_forget_password_step {
	margin: 0 auto;
    width: 646px;
    height: 506px;
	border: 1px solid @colorPrimary;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
}

.zk_forget_password_step_title {
	margin: 0 auto;
	padding: 19px 48px 9px 48px;
	width: 80%;
	// height: 260px;
	border: 0px solid;
}

.zk_forget_password_step_content {
	margin: 0 auto;
	padding: 18px 0px 0 0px;
	width: 460px;
	// height: 260px;
	border: 0px solid;
	overflow: auto;
	flex: auto 1 0;
}





