/**
 *
 * @Author: Vinson
 * @Date: 2020-08-12 12:33:54
 * @Last Modified by: runoob
 * @Last Modified time: 2024-07-26 16:43:07
 */

@import "../../../../style/theme/zk.theme.variables.less";

.zk_text_editor {
    width: 100%;
    border-color: @colorPrimaryBorder;
    border-width: 1px;
    border-style: solid;
    max-height: 400px;
    overflow: scroll;
    color: @colorText;
    background-color: @colorBgBase;

    :global{
    	.bf-controlbar {
    		background-color: @colorBgBase;
    	}
    }
}