/**
 *
 * @Author: Vinson
 * @Date: 2020-08-11 22:31:06
 * @Last Modified by: runoob
 * @Last Modified time: 2023-09-26 09:24:17
 */

@import "../../../../style/theme/zk.theme.variables.less";

.zk_nav {

	display: flex;

	.zk_nav_item_div {
		flex: 1 1 auto;
		cursor: pointer;
		margin: 0px;
		padding: 0px 9px 0px 9px;

		font-size: 16px;
	    font-weight: bold;
	    font-family: "Times New Roman", Times, serif;

	    width: 120px;
	    /* height: 100%; */
	    text-align: center;
	    overflow: hidden;
	    white-space: nowrap;
		background-color: @colorBgBase;
	}

	.zk_nav_item_div>a {
		text-decoration: none;
		display: block;
		color: @colorText;
	}

	.zk_nav_item_div:hover {
		background-color: @colorPrimaryHover;
	}
	.zk_nav_item_div:hover>a {
		color: @colorWhite;
	}

	/*.zk_nav_item_div>a:hover {
		color: @p-font-color-hover;
	}*/

	.zk_nav_item_selected {
		background-color: @colorPrimaryBgHover;
	}
	.zk_nav_item_selected>a {
		color: @colorText;
	}
}


