/*
* @Author: Vinson
* @Date:   2022-12-13 17:39:59
* @Last Modified by: runoob
* @Last Modified time: 2024-01-15 00:28:20
*/

@import "zkFramework/style/theme/zk.theme.variables.less";


// dir tree =====================================================
.zk_file_dir_div {
	border-radius: 4px 4px;
    border: 1px solid @colorBorder;
}

// dir edit =====================================================

// file view =====================================================
.zk_file_view_div {
	flex: 1 1 auto;
	margin: 0px 3px 0px 3px;
	border-radius: 4px 4px;
    border: 1px solid @colorBorder;
}
// -- 文件视图 头
.zk_file_view_head {
	border-bottom: 1px solid @colorBorder;
}
// -- 文件视图 空
.zk_file_view_empty_div {
	display: table;
}

.zk_file_view_empty_div_content {
	display: table-cell;
	vertical-align: middle;
}
// -- 文件视图 list
.zk_file_view_list_div {
	// flex: 1 1 auto;
	margin: 6px 3px 6px 3px;
	padding: 0px 14px 0px 14px;
	// border-radius: 4px 4px;
    border-bottom: 1px solid @colorBorder;
}

// file upload =====================================================
.zk_file_upload_ing_desc {
	width: auto !important;
}
.zk_file_upload_txt {
	color: inherit;
}


