/*
* @Author: Vinson
* @Date:   2021-12-14 09:05:38
* @Last Modified by: runoob
* @Last Modified time: 2023-09-25 20:50:42
* 
* 
* 
*/
@import "../../../../style/theme/zk.theme.variables.less";

.zk_edit_json_array {

}

.zk_edit_json_array_default_size {
	width: 500px;
	/*height: 700px;*/
}

.zk_edit_json_array_cell:hover {
	border: 1px solid @colorPrimaryBorderHover;
}

.zk_edit_json_array_cell_label {
	left: 0px;
    top: 0px;
	width: 0;
    height: 0;
    padding: 0px;
    position: absolute;
    border-top: 9px solid @colorPrimaryHover;
    border-right: 9px solid transparent;
}

/*:global {
  .ant-table {
    border: 1px solid;   
    border-color: @colorBorder; 
  }
}*/


