/**
 *
 * @Author: Vinson
 * @Date: 2020-08-11 22:43:25
 * @Last Modified by: runoob
 * @Last Modified time: 2023-09-22 15:22:38
 */
@import "../../../../style/theme/zk.theme.variables.less";

.zk_dropdown {
	flex: 0 0 auto;
	height: 26px;
	line-height: 26px;
	padding: 0px 28px;
	background: rgba(255, 255, 255, 0); // 背景透明
	text-align: right;
	min-width: 160px;
	flex: 1 0 auto;
}

.zk_dropdown>div {
	display: inline;
	margin: 0px 9px 0px 0px;
	/*** 不允许选中文字 ***/
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.zk_dropdown>div:hover {
	// background-color: @colorFillSecondary;
	color: @colorPrimaryTextHover;
	cursor: pointer;
}