/**
 *
 * @Author: Vinson
 * @Date: 2020-08-12 12:00:47
 * @Last Modified by: runoob
 * @Last Modified time: 2023-09-22 14:20:07
 */


.zk_search_row {
	padding: 0px 0px 0px 10px;
	margin : 6px 0px;

    align-items: center;

	.zk_search_item {
		margin    : 0px;
		height    : initial;
		padding   : 0px 6px 0px 6px;
		align-self: center;
	}
	.zk_search_item>div{
		align-self: center;
	}

	.zk_search_opt_btn {
		margin : 0px 8px 0px 0px;
		padding: 0px 8px;
	}
}