/*
* @Author: Vinson
* @Email: binary_space@126.com
* @QQ: 1035862795
* @Wechat: 1035862795
* @Date: 2024-12-16 13:43:36
* @Last Modified by: vinson
* @Last Modified time: 2025-01-20 11:48:44
*/


.zk_card_upload_button_div {
	width: 100%;
	height: 100%;
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}
.zk_card_upload_opt_button{
	margin: 5px;
	font-size: 18px;
}
.zk_card_upload_opt_button:hover{
	cursor: pointer;
}

.zk_card_upload_desc {
	width: 100%;
	height: 100%;
	// {'background-image': `url(${srcLegalCertPhotoFront})`}
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.zk_card_upload_desc:hover{
	.zk_card_upload_desc_opt_div {
		display: flex;
	}
}
.zk_card_upload_desc_opt_div {
	width: 100%;
	height: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 16, 0.56);
}

.zk_card_smart_upload_item_div {
	// flex: auto 1 1;
	width: 100%;
	height: 100%;
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}





