@import "./theme/zk.theme.variables.less";

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
#root {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  /*background:#ececec;*/
}
.zk_f_full {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

/* css: 布局  */
.zk_f_layout {
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
  /*position:relative;*/
  /* -webkit-box-orient: horizontal;*/
  /* -webkit-box-direction: normal;*/
  /* -ms-flex-direction: row;*/
  /* flex-direction: row;*/

  :global {

    .wrapper {
      display: flex;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  
    .ant-spin-blur {
      -webkit-transform: none !important;
      /*或 -webkit-transform: none*/
    }
    .ant-spin-nested-loading {
	  height: 100%;
	  /*height: auto; // 自动高度不会自动填满 */ 
    }

    .ant-spin-container {
	  height: 100%;
    }
  }
}

.zk_f_wrapper {
  /*position: absolute;*/
  /*left: 250px;*/
  /*top: 45px;*/
  /*bottom: 20px;*/
  /*right: 20px;*/
  
  flex: 1 1 auto;
  
  /*width: 100%;*/
  height: 100%; /* 不能用用 auto，使用 auto ZKScrollTable 高度无法自动填满 */
  /*min-height: 100%;
  max-height: auto;*/
  margin: 0px;
  padding: 0px;
  background: @colorBgBase;
  /*overflow: auto;*/
  /*border: 1px solid #f0f*/
  
  display: flex;
  flex-direction: column;
  
  .switch > div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
}

.zk_f_main_panel {
	/*display: flex;
    flex-direction: column;*/
	/*height: 100%;*/ /* 不能用用 auto，使用 auto ZKScrollTable 高度无法自动填满 */
	width: 100%;
	flex: 1 1 auto;
  margin: 0px;
  padding: 0px 6px 6px 4px;
	background-color: @colorBgBase;
}

/* css: 其他 ======================================== */
/* zk_navDiv */
.zk_f_cursor_pointer:hover {
	cursor: pointer;
}

/* css: 头 */
.zk_f_header {
  position: relative;
  /*position: absolute;*/
  /*top:0px;*/
  /*left: 0px;*/
  /*position: fixed;*/
  /*flex: 1 1 100px;*/
  /*top:0px;*/
  width: 100%;
  height: 45px;
  line-height: 45px;
  /*background-color: #f7f7f7;*/
  background-color: @colorBgBase;
  z-index: 999;
  display: flex;
  padding: 0 16px;
  box-shadow: 0 1px 3px 0 @colorPrimaryBorder;
  border-bottom: 0px solid @colorPrimaryBorder;
}

.zk_f_header>div {
  align-self: center;
  /*height: 44px;*/
}

/* css: 侧边栏 */
.zk_f_left_sider {
  background-color: @colorBgBase !important;
  /*// position: fixed;*/
  /*// top: 45px;*/
  /*// bottom: 0px;*/
  /*// left: 0;*/
  /*// display: none;*/
  /*// overflow: auto;*/
  /*// background: #fff;*/
  /*// border-right: 1px solid #e5e5e5;*/
  /*padding: 0px 0px 30px 0px;*/
  /*// overflow    :hidden;*/
  /*// z-index: 1;*/
  max-width: 300px;
  min-width: 200px;
  width: 300px;
  height: 100%;
}

/* css: 内容 */
.zk_f_content {
  position: relative;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  height: 100%;
  /*min-height: 100%;*/
  background: @colorBgBase;
  /* overflow: initial;*/
  /*overflow :auto;*/
  overflow: hidden;
}

/*** css: 底 floor ***/
.zk_f_footer {
  /*// position: fixed;*/
  /*// bottom: 0px;*/
  /*// left: 0px;*/
  width: 100%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  overflow: hidden;
  padding: 0;
  /*-webkit-flex: 0 0 38px;*/
  overflow: hidden;
  background-color: @colorBgBase;
  border-top: 1px solid @colorBorder;
}


.zk_f_scrollbars {
  height: 100%; 
  background-color: @colorBgBase;
  padding: 17px 0px 0px 0px;
}

.zk_f_scroll_border {
  border: 1px solid @colorPrimaryBorder;
  border-radius: 4px 4px;
}

.zk_f_tree_padding {
  padding: 6px 4px;
}

.zk_f_modal_padding {
  padding: 12px 21px;
}

/* 禁止选择 */
.zk_f_unselect {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* div 一行展示方式 一 */
.zk_f_display_flex {
  display: flex;
}

.zk_f_display_flex_col {
  display: flex;
  flex-direction: column !important;
}

.zk_f_display_flex_row {
  display: flex;
  flex-direction: row;
}

.zk_f_flex_auto_1 {
  flex: 1 1 auto;
}

/* div 一行展示方式 二 */
.zk_f_div_table {
  display: table;
}

.zk_f_div_row {
  display: table-row;
}
.zk_f_div_cell {
  display: table-cell;
}

/* div 垂直居中 */
.zk_f_div_vertical_middle {
   display: flex;
   align-items: center;
}


