/**
 *
 * @Author: Vinson
 * @Date: 2020-08-12 11:42:33
 * @Last Modified by: runoob
 * @Last Modified time: 2023-09-21 23:06:11
 */

@import "../../../../style/theme/zk.theme.variables.less";

/*  */
.zk_auto_menu {
  border: 0px;
  /*display: none;*/
  /*** 不允许选中文字 ***/
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: @colorBgBase;

  /* 修改菜单的全局样式 */
  :global{
    .ant-menu {
      margin-right: 0px;
      padding-right: 0px;
    }
  
    .ant-menu-submenu-title {
      width: 99% !important;
      border-radius: 0px !important;
      margin-right: 0px !important;
      padding-right: 0px !important;
    }
    .ant-menu-submenu-active>div {
      background-color: @colorPrimaryBgHover !important;
    }
  
    .ant-menu-item {
      width: 99% !important;
      border-radius: 0px !important;
      margin-right: 0px !important;
      padding-right: 0px !important;
    }
    .ant-menu-item-selected {
      background-color: @colorPrimaryBg !important;
    }
    .ant-menu-item-selected:after {
      border-right: 3px solid @colorPrimaryActive !important;
    }
    .ant-menu-item-active {
      background-color: @colorPrimaryBgHover !important;
    }
  }
}

.zk_auto_menu ul {
    background-color: @colorBgBase !important;
}






