/*
* @Author: Vinson
* @Email: binary_space@126.com
* @QQ: 1035862795
* @Wechat: 1035862795
* @Date: 2024-07-26 23:33:29
* @Last Modified by: runoob
* @Last Modified time: 2024-07-26 23:53:25
*/


// /* 内容过多以...显示 */
// .ellipsisText {
//    overflow: hidden;
//    text-overflow: ellipsis;
//    white-space: nowrap;
//    display: block;
// }

/* 显示拖拽样式 */
.react-resizable {
  position: relative;
  background-clip: padding-box;
}

 /* 显示拖拽手势 */
.react-resizable-handle {
   position: absolute;
   width: 10px;
   height: 100%;
   bottom: 0;
   // right: 0px;
   right: -5px;
   cursor: col-resize;
   z-index: 1;
   // z-index: 6;
   //border-left: white 1px solid;
}
