/*
* @Author: Vinson
* @Email: binary_space@126.com
* @QQ: 1035862795
* @Wechat: 1035862795
* @Date: 2024-07-26 23:33:29
* @Last Modified by: runoob
* @Last Modified time: 2024-07-30 17:32:34
*/


// /* 内容过多以...显示 */
// .ellipsisText {
//    overflow: hidden;
//    text-overflow: ellipsis;
//    white-space: nowrap;
//    display: block;
// }

// /* 显示拖拽样式 */
// .react-resizable {
//   position: relative;
//   background-clip: padding-box;
// }

//   显示拖拽手势 
// .react-resizable-handle {
//    position: absolute;
//    width: 10px;
//    height: 100%;
//    bottom: 0;
//    // right: 0px;
//    right: -5px;
//    cursor: col-resize;
//    z-index: 1;
//    // z-index: 6;
// }

.zk_react-resizable {
    :global {
        .react-resizable {
            position: relative;
            background-clip: padding-box;
        }

        .react-resizable-handle {
            position: absolute;
            width: 10px;
            height: 100%;
            bottom: 0;
            right: -5px;
            cursor: col-resize;
            z-index: 1;
            background-image: none;
            //    //border-left: white 1px solid;
        }

        .ant-table-filter-column,
        .ant-table-column-sorters {
            display: flex;

            /* co1umn 从上到下 */
            align-items: center;

            /* center代表水平方向 */
            justify-content: space-around;
            min-width: 70px;
        }

        .ant-table-thead>tr>th .ant-table-column-sorter {
            // margin-top: -21px;
            display: table-cell;
            vertical-align: middle;
        }
    }
}