/*
* @Author: Vinson
* @Date:   2021-03-29 11:37:28
* @Last Modified by:   Vinson
* @Last Modified time: 2023-05-10 15:10:38
* 
* 
* 
*/
@import "./colors.less";

html,
body {
	height      : 100%;
	width       : 100%;
	margin      : 0px;
	padding     : 0px;
	overflow    : hidden;
	background-color: @p-bg-color;
	/*background:#ececec;*/
}

:global(#root) {
	height      : 100%;
	width       : 100%;
	margin      : 0px;
	padding     : 0px;
	overflow    : hidden;
	/*background:#ececec;*/
}

:global(.wrapper) {
	display : flex;
	height  : 100%;
	width   : 100%;
	overflow: hidden;
}

:global(.ant-spin-nested-loading) {
	height: 100%;
}

:global(.ant-spin-container) {
	height: 100%;
}

/* --------------------------------------------------------------- */
.zk_layout {
	display   : flex;
	/* 1个     : 上下左右；2个：上下+左右；3个：上+左右+下；4个：上右下左*/
	margin    : 0px 0px 0px 0px;
	/* 1个     : 上下左右；2个：上下+左右；3个：上+左右+下；4个：上右下左*/
	padding   : 0px 0px;
	height    : 100%;
	overflow  : hidden;
	/*position:relative;*/

	/* -webkit-box-orient: horizontal;*/
	/* -webkit-box-direction: normal;*/
	/* -ms-flex-direction: row;*/
	/* flex-direction: row;*/

	/* css: 布局 ======================================== */
	/* css: 头 */
	.zk_header {
		position: relative;

		/*position: absolute;*/
		/*top:0px;*/
		/*left: 0px;*/

		/*position: fixed;*/
		/*flex: 1 1 100px;*/
		/*top:0px;*/

		width             : 100%;
		height            : 45px;
		line-height       : 45px;
		/*background-color  : #f7f7f7;*/
		background-color  : @p-bg-color;
		z-index           : 999;
		display           : flex;
		padding           : 0 16px;
		box-shadow        : 0 1px 3px 0 @p-border-color-hover;
		border-bottom     : 0px solid @p-border-color-hover;
	}

	.zk_header>div {
		align-self: center;
		/*height: 44px;*/
	}

	/* css: 侧边栏 */
	.zk_left_sider {
        background       : @p-bg-color;
        /*// position    : fixed;*/
        /*// top         : 45px;*/
        /*// bottom      : 0px;*/
        /*// left        : 0;*/
        /*// display     : none;*/
        /*// overflow    : auto;*/
        /*// background  : #fff;*/
        /*// border-right: 1px solid #e5e5e5;*/
        padding          : 0px 0px 30px 0px;
        /*// overflow    :hidden;*/
        /*// z-index     : 1;*/
        max-width        : 300px;
        min-width        : 200px;
        width            : 300px;
        height           : 100%;
    }

    /* css: 内容 */
	.zk_content {
		position: relative;
		width      : 100%;
		margin     : 0px 0px 0px 0px;
		padding    : 0px 0px 0px 0px;
		height     : 100%;
		/*min-height: 100%;*/
		background : @p-bg-color;
		/* overflow: initial;*/
		/*overflow :auto;*/
		overflow   : hidden;
	}

	/*** css: 底 floor ***/
    .zk_footer {
        /*// position: fixed;*/
        /*// bottom: 0px;*/
        /*// left: 0px;*/
        width      : 100%;
        height     : 32px;
        line-height: 32px;
        text-align: center;
        overflow   : hidden;
        padding    : 0;
        /*-webkit-flex: 0 0 38px;*/
        overflow   : hidden;
        background-color: @p-bg-color;
        border-top: 1px solid @p-border-color-active;
    }

    .zk_wrapper {
        /*position: absolute;*/
        /*left: 250px;*/
        /*top: 45px;*/
        /*bottom: 20px;*/
        /*right: 20px;*/

        flex: 1 1 auto;

        /*width: 100%;*/
        height: 100%; /* 不能用用 auto，使用 auto ZKScrollTable 高度无法自动填满 */
        /*min-height: 100%;
        max-height: auto;*/
        margin    : 0px 0px 0px 0px;
        padding   : 0px 0px 0px 0px;
        background: @p-bg-color;
        /*overflow  : auto;*/
        /*border  : 1px solid #f0f*/

        display: flex;
        flex-direction: column;

        .switch>div {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
        }
    }

    .zk_main_panel {
    	/*display: flex;
        flex-direction: column;*/
    	/*height: 100%;*/ /* 不能用用 auto，使用 auto ZKScrollTable 高度无法自动填满 */
   		width: 100%;
    	flex: 1 1 auto;
	    margin: 0px 0px 0px 0px;
	    padding: 0px 6px 6px 4px;
		background-color  : @p-bg-color;
    }

    /* css: 其他 ======================================== */
    .zk_navDiv:hover {
		cursor: pointer;
	}

    .ant-spin-blur {
        -webkit-transform    : none !important;
        /*或 -webkit-transform: none*/
    }

    /* 版本 modal 窗口的 样式；*/
	.zk_versionInfo_modal div[class='ant-modal-confirm-content'] {
		margin-left: 6px;
		padding-top: 6px;
		background-color: @p-bg-color;
	}

	.zk_scrollbars {
		height: 100%; 
		background-color: @p-bg-color;
        padding   : 0px 0px 0px 0px;
	}
}

.zk_scroll_border {
	border: 1px solid @p-border-color-active;
	border-radius: 4px 4px;
}

.zk_tree_padding {
	padding: 6px 4px;
}

.zk_modal_padding {
	padding: 12px 21px;
}

/* 禁止选择 */
.zk_unselect {
	moz-user-select    : -moz-none;
   -moz-user-select   : none;
   -o-user-select     : none;
   -khtml-user-select : none;
   -webkit-user-select: none;
   -ms-user-select    : none;
   user-select        : none;
}

/* --------------------------------------------------------------- */

.display_flex {
    display: flex;
}

.display_flex_col {
    display: flex;
    flex-direction: column !important;
}

.display_flex_row {
    display: flex;
    flex-direction: row;
}

.flex_1_auto {
    flex: 1 1 auto;
}

