/*
* @Author: Vinson
* @Date:   2021-03-11 18:41:22
* @Last Modified by: runoob
* @Last Modified time: 2023-09-20 23:31:52
* 
* 
*/
@import "../../../../style/theme/zk.theme.variables.less";

.zk_scroll_table {

  :global {

    .ant-table-header>table>thead>tr>.ant-table-cell-fix-right-first {
      right: 0px !important;
    }
  }
}

.zk_scroll_table>div {
  overflow: hidden;
}

.zk_scroll_table_x_hidden {
  :global {
    .ant-table-body {
      overflow-x: hidden !important;
    }
  }
}

.zk_scroll_table_y_hidden {
  :global {
    .ant-table-body {
      overflow-y: hidden !important;
    }
  }
}

.zk_scroll_table_body_scrollbars > div {
  z-index: 2;
}

.zk_scroll_table_body_scrollbars > div > table > tbody > tr > td {
  /*border-right-width: style: color*/
  border-right: 1px solid;
}

.zk_scroll_table_div {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}


