/**
 *
 * @Author: Vinson
 * @Date: 2020-08-12 11:54:07
 * @Last Modified by: runoob
 * @Last Modified time: 2023-09-21 22:56:21
 */

.zk_opt_row_style {

	/*overflow:hidden;*/
	/*background:#8DEEEE;*/
	height: 26px;
	min-height: 26px;
	max-height: 26px;
	line-height: 26px;
	margin: 3px 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	display: flex;
	align-self: center;

	.zk_opt_language_row {
		display: flex;
	}

	.zk_opt_item {
		padding: 0px;
		margin: 0px;
		flex: 1 1 auto;
	}

	.zk_opt_language {
		/*background: #8DEEEE;*/
		flex: 0 0 auto;
		height: 26px;
		min-height: 26px;
		max-height: 26px;
		line-height: 26px;
		padding: 0px 10px 0px 0px;
		margin: 0px 0px 0px 0px;
		/*border: 1px solid #e46f7f;*/
		/*align-self: center;*/
		/* 垂直居中 */
	}

	.zk_opt_language div {
		height: 26px;
		min-height: 26px;
		max-height: 26px;
		line-height: 26px;
	}
}

.zk_opt_row_style button {
	/*height:23px;*/
	/*width: 23px;*/
	height: 26px;
	padding: 0px 6px 0px 6px;
	/* 上右下左 */
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 12px;
}




