/*
* @Author: Vinson
* @Email: binary_space@126.com
* @QQ: 1035862795
* @Wechat: 1035862795
* @Date: 2024-12-16 14:17:23
* @Last Modified by: vinson
* @Last Modified time: 2024-12-16 20:06:09
*/

@import "zkFramework/style/theme/zk.theme.variables.less";

.zk_test_smart_upload {
	border: 1px dashed @colorPrimary;
	background-color: @colorPrimaryBgHover;

	width: 300px;
    height: 150px;
    border-radius: 8px;
    text-align: center;
}

.zk_test_smart_upload_list {
    width: 900px;
    height: 150px;
    display: flex;
    flex-direction: row;
}

.zk_test_smart_upload_list_item {
    border: 1px dashed @colorPrimary;
    background-color: @colorPrimaryBgHover;
    width: 100px;
    height: 70px;
    border-radius: 4px;
    text-align: center;
    margin: 0px 2px 0px 0px;
}






