/**
 *
 * @Author: Vinson
 * @Date: 2020-08-12 10:12:45
 * @Last Modified by: runoob
 * @Last Modified time: 2024-07-07 10:39:32
 */
@import "../../../../style/theme/zk.theme.variables.less";

.zk_table {

  .zk_table_row_num_column {
    /*overflow: hidden;*/
    text-overflow: ellipsis;
  }
  .zk_table_row_num_column_zh_CN {
    width: 50px;
    max-width: 50px;
    min-width: 50px;
  }
  .zk_table_row_num_column_en_US {
    width: 88px;
    max-width: 88px;
    min-width: 88px;
  }
  
  .zk_table_column_text_align_center {
    text-align: center;
  }
  
  .zk_table_column_text_align_left {
    text-align: left;
  }
  
  .zk_table_column_text_align_right {
    text-align: right;
  }
  
:global {
    /*去除一些 ant 的原有样式，使得前面设置的 zk-table 样式生效*/
    .ant-table {
      border: 1px solid;   
      border-color: @colorBorder; 
    }
    
    /* 表格头 */
    .ant-table-title {
      top: 0px !important;
      padding: 2px 9px !important;
      background-color: @colorBgBase !important;
    }
    
    /* 表格 分页标签 */
    .ant-table-pagination {
      margin: 9px 16px 3px 16px !important;
    }
    
    .ant-table-thead>tr>th {
      padding: 6px 9px !important;
      text-align: center;
      font-weight: 600;
      white-space: nowrap;
      /*overflow: hidden; // 添加这行，表头固定阴影会消失 */ 
      /*
      color: #5c6b77;
      width:20px;
      max-width: 20px;
      height:10px; 
      */
    }
    
    .ant-table-selection-column {
      width: 50px;
      max-width: 50px;
      min-width: 50px;
    }
    
    /*奇偶行底色*/
    table tbody .ant-table-row:nth-child(even) td,
    table tbody .ant-table-row:nth-child(even) th {
      background-color: @colorPrimaryBg;
    }
    
    table tbody tr:nth-child(odd) td,
    table tbody tr:nth-child(odd) th {
      background-color: @colorBgBase;
    }
    
    /*鼠标在行上的颜色*/
    table tbody tr:hover td {
      background-color: @colorPrimaryBgHover !important;
    }
    
    /* 表格 边框颜色 */
    table thead tr th,
    table tbody tr td {
      border-color: @colorBorder !important;
    }
    /* ----------- */
    table thead tr .ant-table-cell-scrollbar {
      background-color: inherit !important;
    }

    /* ----------- */
    /*table tbody tr td {
      padding: 12px 12px !important;
    }*/
    /*table tbody tr:first-child,
    table tbody tr:first-child td  {
      margin: 0px !important;
      padding: 0px !important;
    }*/

  }
}

.zk_table table {
  margin: 0px;
  padding: 0px;
  /*border-collapse: collapse;*/
  /*border-spacing: 0;*/
  empty-cells: show;
  /*border: 0px solid #e9e9e9;*/
  width: 100%;
  margin: 0px 0px;
  padding: 0px;
  font-size: 13px;
  background-color: @colorBgBase;
  border: 0px !important;     
}

.zk_table>div {
  margin: 0px 0px;
  padding: 2px 0px;
  border-radius: 4px 4px;
  border: 1px solid @colorPrimaryBorder;    
  background-color: @colorBgBase;
}
.zk_table>div>div {
  background-color: @colorBgBase;
}


