/**
 *
 * @Author: Vinson
 * @Date: 2020-08-12 12:02:56
 * @Last Modified by: runoob
 * @Last Modified time: 2023-09-22 14:27:38
 */

@import "../../../../style/theme/zk.theme.variables.less";

.zk_slider {

	/*position: fixed;*/
	/*top: 45px;*/
	/*bottom: 0px;*/
	/*left: 0;*/
	/*display: none;*/
	flex: 0 0 auto;
	background-color: @colorBgBase !important;
	border-right: 1px solid @colorBorder;
	padding: 0px 0px 30px 0px;
	overflow: hidden;
	z-index: 99;
	transition: width 0.45s;

	.zk_slider_head {
		border-bottom: 1px solid @colorBorder;
		height: 40px;
	    line-height: 40px;
    	margin: 0px 6px;
	    padding: 3px 0px 0px 0px;
		text-align: right;
	}

	.zk_slider_trigger {
		font-size: 20px;
		/*line-height: 64px;*/
		padding: 0px 12px 0px 0px;
		cursor: pointer;
		/*transition: color .3s;*/
		/*margin: 8px auto auto auto;*/
		color: @colorText;
	}

	.zk_slider_trigger_open {
		/*width: 100%;*/
		/*transition: color .3s;*/
	}
	.zk_slider_trigger_open:hover {
		color: @colorPrimaryTextHover;
	}
	.zk_slider_trigger_open:hover:before {
		color: @colorPrimaryTextHover;
	}

}

.zk_slider_mask {
	border: 3px solid;
}









