/*
* @Author: Vinson
* @Date:   2022-04-25 15:49:19
* @Last Modified by: runoob
* @Last Modified time: 2023-09-24 22:11:58
* 
* 
* 
*/

@import "zkFramework/style/theme/zk.theme.variables.less";

.zk_left_sider_border {
	border-radius: 4px 4px;
    border: 1px solid @colorPrimaryBorder;
}

.no_padding {
	padding: 0px;
}

.org_divider {
	margin: 9px 0px 24px 0px;
}




