/*
* @Author: Vinson
* @Date:   2022-10-20 22:55:21
* @Last Modified by: runoob
* @Last Modified time: 2023-09-24 23:16:57
*/

@import "zkFramework/style/theme/zk.theme.variables.less";

.zk_left_sider_border {
	border-radius: 4px 4px;
    border: 1px solid @colorBorder;
}
/*
.zk_file_width_0 {
	width: 0px !important;
}

.ant-tree-switcher {
	width: 0px !important;
}*/


