/*
* @Author: Vinson
* @Date:   2022-12-01 11:46:15
* @Last Modified by: runoob
* @Last Modified time: 2023-09-24 00:10:11
*/
@import "zkFramework/style/theme/zk.theme.variables.less";


.zk_sample_sider_border {
	border: 1px solid @colorBorder;
	flex: 1 1 auto;
}

.zk_sample_sider_div {
	border: 1px solid @colorBorder;
	width: 360px;
	height: 200px;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}