/**
 *
 * @Author: Vinson
 * @Date: 2020-08-12 12:44:00
 * @Last Modified by: runoob
 * @Last Modified time: 2023-09-22 16:47:02
 */

@import "../../../../style/theme/zk.theme.variables.less";

.zk_version_info {
	border: 1px solid @colorPrimaryBorder;
	border-radius: 5px;
	height: 300px;
	/*width: 100%;*/
	overflow-y: auto;
	overflow-x: hidden;
	/*margin: 0px 0px 0px 0px;*/

}

.zk_version_info_card {
	background-color: @colorBgBase;
	border-radius: 0px;
	padding: 9px 16px 12px 16px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid;
	border-color: @colorBorder;
}

.zk_version_info_card div[class='ant-card-body'] {
	padding: 0px;
}

.zk_version_info_dependences {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid;
	border-radius: 0px;
	border-color: @colorBorder;
}

.zk_version_info_dependences_panel {
	border: 0px !important;
	// border-radius: 0px !important;
}

.zk_version_info_dependences_panel div[class*='ant-collapse-content'] {
	background-color: @colorBgBase;
	border-color: @colorBorder;
}
.zk_version_info_dependences_panel div[class*='ant-collapse-content-box'] {
	padding: 6px 19px 6px 12px !important;
}

.zk_version_info_dependences_line {
	margin: 0px 0px 5px 0px;
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid;
	border-color: @colorBorder;
}

.zk_version_info_dependences_line>p {
	margin: 5px 16px 3px 29px
}

.zk_version_info_dependences_line>p>span {
	margin: 0px 4px;
	display: inline-block;
}


