/**
 *
 * @Author: Vinson
 * @Date: 2020-08-12 10:10:43
 * @Last Modified by: runoob
 * @Last Modified time: 2023-09-24 00:09:04
 */

@import "zkFramework/style/theme/zk.theme.variables.less";

 .mask_sample_detail_panel{
	border: 1px solid @colorBorder;
	height: 360px;
	padding: 9px 9px;

}