/**
 *
 * @Author: Vinson
 * @Date: 2020-08-11 18:20:03
 * @Last Modified by: runoob
 * @Last Modified time: 2023-09-19 16:54:51
 */

@import "../../../../style/theme/zk.theme.variables.less";

.zk_breadcrumb_div {
   flex   : 0 0 auto;
   display: flex;
   padding: 9px 0px 6px 0px;
   margin : 0px 0px 0px 0px;
   background: @colorBgBase;
   border-bottom: 1px solid @colorBorder;
}

.zk_breadcrumb {

   flex         : 0 0 auto;
   padding      : 0px 0px 0px 0px;
   margin       : 0px 0px 0px 0px;

   moz-user-select    : -moz-none;
   -moz-user-select   : none;
   -o-user-select     : none;
   -khtml-user-select : none;
   -webkit-user-select: none;
   -ms-user-select    : none;
   user-select        : none;
   /*font-size: 18px;*/
   align-items: center;
   display: flex;
}
.zk_breadcrumb a:hover {
   background: @colorBgBase;
   color: @colorPrimaryHover;
}

.zk_breadcrumb_goBackButton {
   flex   : 0 0 auto;
   margin : 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}

.zk_breadcrumb_div>button {
   box-shadow: 0 0px 0;
   margin: 0px 0px 0px 0px;
   background-color: @colorBgBase;
   border: 0px;
}

.zk_breadcrumb_div>.breadcrumb_goBackButton {
   /*font-size: 18px;*/
   padding: 0px 0px 1px 4px;
}

