/*
* @Author: Vinson
* @Date:   2021-06-29 16:14:59
* @Last Modified by: vinson
* @Last Modified time: 2025-01-25 14:51:58
* 
* 
* 
*/
@import "zkFramework/style/theme/zk.theme.variables.less";

.public_head {
	position: relative;
    /* position: absolute; */
    /* top: 0px; */
    /* left: 0px; */
    /* position: fixed; */
    /* flex: 1 1 100px; */
    /* top: 0px; */
    width: 100%;
    height: 45px;
    line-height: 45px;
    /*background: #f7f7f7;*/
    z-index: 999;
    display: flex;
    padding: 0 16px;
    align-self: center;
}

.public_head > div {
	align-self: center;
	position: absolute;
	right: 16px;
}

.zk_public_icon_color {
    // color: rgba(0, 0, 0, 0.45);
    color: @colorPrimary;
}

/* tabs 页样式 */
.zk_public_tabs {
    /* 选 tab 页时，tab title 的字段颜色*/
    :global {
        .ant-tabs-nav::before {
            border-bottom: 1px solid @colorPrimaryBorder;
        }
        .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active {
            border-top: 1px solid @colorPrimaryBorderHover;
            border-left: 1px solid @colorPrimaryBorderHover;
            border-right: 1px solid @colorPrimaryBorderHover;
            border-bottom: 1px solid @colorPrimaryBorder;
            // background: @colorPrimaryActive;
        }
        /* 没选中的 tab 页的 tab title 的样式 */
        .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            /*color: inherit;*/
            // color: @colorPrimaryActive;
        }
        .ant-tabs-nav-list .ant-tabs-tab {
            border-top: 1px solid @colorPrimaryBorder;
            border-left: 1px solid @colorPrimaryBorder;
            border-right: 1px solid @colorPrimaryBorder;
            border-bottom: 1px solid @colorPrimaryBorder;
            background: inherit;
            // color  : @colorPrimary;
            user-select: none;
        }
        .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active:hover {
            background: @colorPrimaryHover;
            // border-bottom: 1px solid @colorPrimaryBorder;
            cursor: default;
            // color: @colorPrimaryBg;
        }
        .ant-tabs-nav-list .ant-tabs-tab:hover {
            background: @colorPrimaryHover;
            border: 1px solid @colorPrimaryBorderHover;
            cursor: pointer;
            color: @colorPrimaryBg;
        }
    }
}

// 水平滑动
.zk_horizontal_slide {
    position: absolute;
    width: 380px;
    // left: 0px;
}

// .zk_horizontal_slide_animation_right_out {
//  animation: horizontal-slide-right-out 0.5s forwards;
//     -webkit-animation: horizontal-slide-right-out 0.5s forwards;
// }
.zk_horizontal_slide_animation_right_in {
    animation: horizontal-slide-right-in 0.5s forwards;
    -webkit-animation: horizontal-slide-right-in 0.5s forwards;
}

// .zk_horizontal_slide_animation_left_out {
//  animation: horizontal-slide-left-out 0.5s forwards;
//     -webkit-animation: horizontal-slide-left-out 0.5s forwards;
// }
.zk_horizontal_slide_animation_left_in {
    animation: horizontal-slide-left-in 0.5s forwards;
    -webkit-animation: horizontal-slide-left-in 0.5s forwards;
}

// @keyframes horizontal-slide-right-out {
//     0% { left: 0px; opacity: 1;} 
//     100% { left: 410px; opacity: 0;} 
// }
@keyframes horizontal-slide-right-in {
    0% { left: 410px; opacity: 0;} 
    100% { left: 0px; opacity: 1;} 
}

// @keyframes horizontal-slide-left-out {
//     0% { left: 0px; opacity: 1;} 
//     100% { left: -410px; opacity: 0;} 
// }
@keyframes horizontal-slide-left-in {
    0% { left: -410px; opacity: 0;} 
    100% { left: 0px; opacity: 1;} 
}

// @-webkit-keyframes horizontal-slide-right-out {
//     0% { left: 0px; opacity: 1;} 
//     100% { left: 410px; opacity: 0;} 
// }
@-webkit-keyframes horizontal-slide-right-in {
    0% { left: 410px; opacity: 0;} 
    100% { left: 0px; opacity: 1;} 
}

// @-webkit-keyframes horizontal-slide-left-out {
//     0% { left: 0px; opacity: 1;} 
//     100% { left: -410px; opacity: 0;} 
// }
@-webkit-keyframes horizontal-slide-left-in {
    0% { left: -410px; opacity: 0;} 
    100% { left: 0px; opacity: 1;} 
}



