/**
 *
 * @Author: Vinson
 * @Date: 2020-08-26 10:53:18
 * @Last Modified by: runoob
 * @Last Modified time: 2023-09-24 21:31:43
 */
@import "../../../../style/theme/zk.theme.variables.less";

.zk_modal div[class*="ant-modal-content"] {
  background-color: @colorBgBase;
}

.zk_modal_content_left div[class='ant-modal-confirm-content'] {
	// margin-left: 6px;
	padding-top: 1px;
}

.zk_modal_body div[class="ant-modal-body"]{
  padding: 0px;
}


