/*
* @Author: Vinson
* @Date:   2021-06-30 19:03:07
* @Last Modified by: runoob
* @Last Modified time: 2023-09-21 22:13:18
* 
* 
* 
*/

@import "../../../../style/theme/zk.theme.variables.less";

.zk_languageDropdown_default {
	user-select:none;
}

.zk_languageDropdown {
	flex        : 0 0 100px;
	/*text-align: right;*/
}
.zk_languageDropdown:hover {
	color  : @colorPrimaryTextHover;
	cursor:pointer
}

.zk_languageDropdown_item {
	min-width: 138px;
	user-select:none;
}

.zk_languageDropdown_item:hover {
	color  : @colorPrimaryTextHover;
}


