/*
* @Author: Vinson
* @Date:   2021-03-07 01:24:17
* @Last Modified by: runoob
* @Last Modified time: 2023-09-21 00:10:04
* 
* 
* 
*/

.zk_icon_panel_scroll {
    overflow-x: hidden;
    overflow-y: auth;
    height    : 450px;
}

.zk_icon_panel {
    position: relative;
    width   : auto;
    height  : auto;
    overflow: hidden;
    display : block;
}

.zk_icon_panel>div {
    width : 80px;
    height: 70px;
    /* border: 1px solid; */
    text-align : center;
    margin     : 10px;
    padding-top: 9px;
    display    : inline-block;
    float      : left;
}

.zk_icon_panel>div>span {
    font-size: 24px;
}

.zk_icon_panel>div>p {
    overflow: hidden;
}


