/**
 *
 * @Author: Vinson
 * @Date: 2020-08-11 22:31:06
 * @Last Modified by: runoob
 * @Last Modified time: 2023-09-22 08:58:23
 */

@import "../../../../style/theme/zk.theme.variables.less";

.zk_language_select {
  flex: 0 0 100px;
  :global {
    .ant-select-selection-item {
    	display: flex;  
    	align-items: center;
    }
  }
}

.zk_language_select:hover {
  color  : @colorPrimaryTextHover;
}

.zk_language_select>div {
  display   : inline-block;
  box-shadow: none !important;
  background-color: @colorBgBase !important;
}

.zk_language_select:hover span {
  color  : @colorPrimaryTextHover;
}

.zk_language_select_option {
  background-color: @colorBgBase;
}

.zk_language_select_option:hover {
  color: @colorPrimaryTextHover;
  /*background-color: @colorBgTextHover;*/
}