
.theme_div_cell {
	border: 0px solid;
}

.theme_div_item {
	width: 220px;
	height: 38px;
	line-height: 32px;
	/*border-radius: 4px;*/
	text-align: left;
}

/*.theme_default_bg {
	background-color: @default.colorBgBase;
}
.theme_zk_bg {
	background-color: @zk.colorBgBase;
}
.theme_antd_bg {
	background-color: @antd.colorBgBase;
}
.theme_dark_bg {
	background-color: @dark.colorBgBase;	
}*/

@import "zkFramework/style/theme/zk.theme.variables.less";

/* ============================================ */
.c_colorPrimary { background-color: @colorPrimary; }
.c_colorPrimaryActive { background-color: @colorPrimaryActive; }
.c_colorPrimaryBg { background-color: @colorPrimaryBg; }
.c_colorPrimaryBgHover { background-color: @colorPrimaryBgHover; }
.c_colorPrimaryBorder { background-color: @colorPrimaryBorder; }
.c_colorPrimaryBorderHover { background-color: @colorPrimaryBorderHover; }
.c_colorPrimaryHover { background-color: @colorPrimaryHover; }
.c_colorPrimaryText { background-color: @colorPrimaryText; }
.c_colorPrimaryTextActive { background-color: @colorPrimaryTextActive; }
.c_colorPrimaryTextHover { background-color: @colorPrimaryTextHover; }
.c_colorBgBase { background-color: @colorBgBase;}
.c_colorBgTextActive { background-color: @colorBgTextActive; }
.c_colorBgTextHover { background-color: @colorBgTextHover; }
.c_colorBorder { background-color: @colorBorder; }
.c_colorBorderBg { background-color: @colorBorderBg; }
.c_colorFill { background-color: @colorFill; }
.c_colorHighlight { background-color: @colorHighlight; }
.c_colorLink { background-color: @colorLink; }
.c_colorLinkActive { background-color: @colorLinkActive; }
.c_colorLinkHover { background-color: @colorLinkHover; }
.c_colorText { background-color: @colorText; }
.c_colorTextBase { background-color: @colorTextBase; }
.c_colorTextDisabled { background-color: @colorTextDisabled; }
.c_colorTextLabel { background-color: @colorTextLabel; }
.c_colorWhite { background-color: @colorWhite; }
.c_colorError { background-color: @colorError; }
.c_colorInfo { background-color: @colorInfo; }
.c_colorSuccess { background-color: @colorSuccess; }
.c_colorWarning { background-color: @colorWarning; }
.c_colorFill { background-color: @colorFill; }
.c_colorFillAlter { background-color: @colorFillAlter; }
.c_colorFillContent { background-color: @colorFillContent; }
.c_colorFillContentHover { background-color: @colorFillContentHover; }
.c_colorFillQuaternary { background-color: @colorFillQuaternary; }
.c_colorFillSecondary { background-color: @colorFillSecondary; }
.c_colorFillTertiary { background-color: @colorFillTertiary; }

