/*
* @Author: Vinson
* @Date:   2022-11-30 18:16:11
* @Last Modified by: runoob
* @Last Modified time: 2023-09-24 00:10:36
*/

/* maxRang = {{left: 300, top: 100, right: 800, bottom: 540}} */
@import "zkFramework/style/theme/zk.theme.variables.less";

.zk_sample_maxRang {
	top: 100px;
	left: 300px;
	width: 500px;
	height: 210px;

	border: 1px solid @colorBorder;
    position: fixed;
    z-index: 8888;
}