/*
* @Author: Vinson
* @Email: binary_space@126.com
* @QQ: 1035862795
* @Wechat: 1035862795
* @Date: 2023-09-19 16:53:07
* @Last Modified by: runoob
* @Last Modified time: 2023-09-22 15:45:10
*/

@colorBgBase: var(--colorBgBase);
@colorBgTextActive: var(--colorBgTextActive);
@colorBgTextHover: var(--colorBgTextHover);
@colorBorder: var(--colorBorder);
@colorBorderBg: var(--colorBorderBg);
@colorFill: var(--colorFill);
@colorHighlight: var(--colorHighlight);
@colorLink: var(--colorLink);
@colorLinkActive: var(--colorLinkActive);
@colorLinkHover: var(--colorLinkHover);
@colorPrimary: var(--colorPrimary);
@colorPrimaryActive: var(--colorPrimaryActive);
@colorPrimaryBg: var(--colorPrimaryBg);
@colorPrimaryBgHover: var(--colorPrimaryBgHover);
@colorPrimaryBorder: var(--colorPrimaryBorder);
@colorPrimaryBorderHover: var(--colorPrimaryBorderHover);
@colorPrimaryHover: var(--colorPrimaryHover);
@colorPrimaryText: var(--colorPrimaryText);
@colorPrimaryTextActive: var(--colorPrimaryTextActive);
@colorPrimaryTextHover: var(--colorPrimaryTextHover);
@colorText: var(--colorText);
@colorTextBase: var(--colorTextBase);
@colorTextDisabled: var(--colorTextDisabled);
@colorTextLabel: var(--colorTextLabel);
@colorWhite: var(--colorWhite);
@colorError: var(--colorError);
@colorInfo: var(--colorInfo);
@colorSuccess: var(--colorSuccess);
@colorWarning: var(--colorWarning);
@colorFill: var(--colorFill);
@colorFillAlter: var(--colorFillAlter);
@colorFillContent: var(--colorFillContent);
@colorFillContentHover: var(--colorFillContentHover);
@colorFillQuaternary: var(--colorFillQuaternary);
@colorFillSecondary: var(--colorFillSecondary);
@colorFillTertiary: var(--colorFillTertiary);

/*@colorBlack0016: var(--colorBlack0016);*/

/* zk 自定义 颜色值 */

@fontFamily: var(--fontFamily);
@fontSize: var(--fontSize);
@borderRadius: var(--borderRadius);
@borderRadiusLG: var(--borderRadiusLG);
@borderRadiusOuter: var(--borderRadiusOuter);
@borderRadiusSM: var(--borderRadiusSM);
@borderRadiusXS: var(--borderRadiusXS);

